<ion-view view-title="My Activities">
    <ion-content>


        <ion-list>
            <div ng-if="vm.isLoading" style="text-align: center; margin-top: 20px;">
                <ion-spinner></ion-spinner>
            </div>
            <div ng-repeat="(date, activities) in vm.calendar" >
                <div class="item item-divider">
                    {{ date * 1000 | date }}
                </div>
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          ng-repeat="activity in activities track by activity.id"
                          type="item-text-wrap"
                          href="#/tab/calendar/{{ activity.id }}">
                    <img ng-src="{{ activity.image_url }}">
                    <h2>
                        {{ activity.title }}
                    </h2>
                    <p ng-bind-html="activity.description"></p>
                    <!--<h2>{{chat.name}}</h2>-->

                    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                    <!---->
                    <ion-option-button class="button-positive" ng-click="vm.markActivityAsDone(activity, activities)">
                        Done
                    </ion-option-button>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
